<!DOCTYPE html>
<html>
  <head>
    <title>PingPong</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if flash[:error].kind_of?(Array) %>
      <% flash[:error].each do |message|%>
        <h4><%=message%></h4>
      <% end %>
    <% end %>
    <% if flash[:error].kind_of?(String) %>
      <h4><%=flash[:error]%></h4>
    <% end %>
    <%= yield %>
  </body>
</html>
